
.baseGrid{
  display:grid;
  height: 100vh;
  width:100vw;
}



.metal {
  outline: none;
  
  text-align: center;
  color: hsla(0,0%,20%,1);
  
  
  background-color: hsl(0,0%,90%);
  box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 1px,
    inset hsla(0,0%,15%, .8) 0 -1px 5px 1px, 
    inset hsla(0,0%,0%, .25) 0 -1px 0px 2px,
    inset hsla(0,0%,100%,.7) 0  2px 1px 2px
}


.metal.linear {
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    
    linear-gradient(180deg, hsl(0,0%,78%)  0%, 
    hsl(0,0%,90%) 47%, 
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);
}